* {
    margin: 0;
    padding: 0;
}

:root {
    --clr-light-gray: #dfe6e9;
    --clr-medium-gray: #b2bec3;
    --clr-dark-gray: #636e72;
    --clr-black: #2d3436;
    --clr-purple: #6c5ce7;
    --clr-violet: #a29bfe;
    --clr-blue: #0984e3;
    --clr-light-blue: #74b9ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--clr-light-gray);
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#container {
    background-color: var(--clr-light-gray);
    width: 80vh;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: solid 3px var(--clr-purple);
    background-color: var(--clr-light-blue);
}

h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 0;
}
