* {
    margin: 0;
    padding: 0;
}

:root {
    --clr-light-gray: #dfe6e9;
    --clr-medium-gray: #b2bec3;
    --clr-dark-gray: #636e72;
    --clr-black: #2d3436;
    --clr-purple: #6c5ce7;
    --clr-violet: #a29bfe;
    --clr-blue: #0984e3;
    --clr-light-blue: #74b9ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--clr-light-gray);
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#container {
    background-color: var(--clr-light-gray);
    width: 55vh;
    height: 55vh;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: solid 3px var(--clr-purple);
    background-color: var(--clr-light-blue);
}

h1 {
    text-align: center;
    margin-bottom: 0;
    padding-top: 2rem;
}

p {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

select {
    min-width: 5%;
    text-align: center;
    padding: 0.5rem 1rem;
    font-family: inherit;
    background-color: var(--clr-purple);
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
}

button {
    padding: 0.5rem 1rem;
    font-family: inherit;
    background-color: var(--clr-purple);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
}
